
.bg-green-hard {
    background-color: #4D6737; 
}

.text-font {
    font-size: x-large;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Monda', sans-serif;
    font-family: 'Sarabun', sans-serif;
}

.text-nav {
    font-size: larger;
    
}

a:hover {
    font-weight: bold;
}

.img-banner {
    height: 85vh;
    object-fit: cover;
    object-position: 0 40%; 
}

